html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #333;
    font-family: 'Dosis', sans-serif;
}
nav{
    background-color: #444;
    color: lime;
    display: block;

    height: 60px;
}
.navlink h1{ 
    display: inline; 
    font-size: 2em;
    margin: 20px;
}
.navlink a{
    position: relative;
    float: right;
    display: inline;

    text-decoration: none;
    font-size: 1.2em;
    color: lime;
    padding: 20px;
}
.navlink a:hover{
    background-color: #333;
}

#messageBox{
    width: 20%;
    height: 100%;

    padding: 0;
    margin: 0;

    position: relative;
    float: left;
    background-color: black;
}
.message{
    display: block;
    float: left;
    width: 100%;
    height: 20px;
}

#Game{
    width: 80%;
    height: 100%;

    padding: 0;
    margin: 0;

    position: relative;
    float: left;
    background-color: #030;
}